{% import "partials/language.html" as lang with context %}
<nav class="md-nav md-nav--secondary">
    {% if page.toc | first is defined %}
    <label class="md-nav__title" for="__toc">{{ lang.t("toc.title") }}</label>
    <ul class="md-nav__list" data-md-scrollfix>
        {% for toc_item in page.toc %}
        {% include "partials/toc-item.html" %}
        {% endfor %}
    </ul>
    {% endif %}
</nav>
